body {
    padding-top: 20px;
}

.navbar-brand {
    text-align: left;
}

.navbar-toggle {
    margin-right: 0; /* Ensure the toggle button is flush to the right */
}

.menu-item {
    background-color: #ddd;
    padding: 20px;
    margin-top: 20px;
    height: 1000px; /* Adjust height to ensure scrolling */
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 0;
}

/* Specific styling for different screen sizes */
@media (max-width: 767px) {
    .navbar-header {
        width: 100%;
    }

    .navbar-toggle {
        float: right;
    }

    .navbar-brand {
        float: left;
    }

    #navbar-menu {
        background-color: #f8f8f8;
    }

    #navbar-menu .nav > li > a {
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header {
        width: 100%;
        text-align: center;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-brand {
        float: none;
    }
}